language: python
addons:
  apt:
    packages:
    - 2to3
cache:
  apt: true
  pip: true
  directories:
    - $HOME/.ccache
    - $HOME/.cache/pip
    - $HOME/apt-cacher-ng
notifications:
  email:
    on_success: always
    on_failure: always
  slack: jsk-robotics:Av7tc8wj3IWkLYvlTzHE7x2g
sudo: required
dist: bionic
services:
  - docker
env:
  global:
    - USE_DOCKER=true
  matrix:
    - CHECK_PYTHON2_COMPILE=true
    - CHECK_PYTHON3_COMPILE=true
    - ROS_DISTRO=indigo ROSWS=wstool BUILDER=catkin USE_DEB=true
    - ROS_DISTRO=indigo ROSWS=wstool BUILDER=catkin USE_DEB=false
    - ROS_DISTRO=kinetic   ROSWS=wstool BUILDER=catkin USE_DEB=true
    - ROS_DISTRO=kinetic   ROSWS=wstool BUILDER=catkin USE_DEB=false
    - ROS_DISTRO=melodic   ROSWS=wstool BUILDER=catkin USE_DEB=true
    - ROS_DISTRO=melodic   ROSWS=wstool BUILDER=catkin USE_DEB=false
    - ROS_DISTRO=noetic   ROSWS=wstool BUILDER=catkin USE_DEB=true
    - ROS_DISTRO=noetic   ROSWS=wstool BUILDER=catkin USE_DEB=false
matrix:
  allow_failures:
    - env: ROS_DISTRO=indigo ROSWS=wstool BUILDER=catkin USE_DEB=false
    - env: ROS_DISTRO=kinetic   ROSWS=wstool BUILDER=catkin USE_DEB=false
    - env: ROS_DISTRO=melodic   ROSWS=wstool BUILDER=catkin USE_DEB=false
script:
  # check python2 compatibility
  - if [ "${CHECK_PYTHON2_COMPILE}" == "true" ]; then python2 -m compileall . ; exit $?; fi
  # check python3 compatibility
  - if [ "${CHECK_PYTHON3_COMPILE}" == "true" ]; then bash -c "ret=0; trap 'ret=1' ERR; python3 -m compileall .; 2to3 -w -f except -f execfile -f has_key -f import -f raw_input -f zip .; git diff --exit-code . > /dev/null; echo Exitting with \$ret; exit \$ret"; exit $?; fi
  - source .travis/travis.sh
